<div class="account">
  <h1>Seja bem vindo, {{client.personal.name}}.</h1>
  <p>Seu saldo atual é de <span class="balance"><strong>R${{client.account.balance}}</strong></span></p>
  <ul>
    <li><a href="#/account/debit">Debitar</a></li>
    <li><a href="#/account/deposit">Depositar</a></li>
    <li><a href="#/account/edit">Editar dados</a></li>
    <li><a href="#/account/statement">Extrato</a></li>
    <li><a href="#/account/transfer">Transferência</a></li>
    <hr>
    <li><span class="logout"><a ng-click="logout()">Sair da sessão</a></span></li>
  </ul>
</div>
