<div class="home">
  <div class="row">
    <div class="col-md-4">
      <h2>Acesse sua conta</h2>
      <form class="form-home" ng-submit="login(user.email, user.password)">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"
          ng-model="user.email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha"
          ng-model="user.password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Lembrar senha
          </label>
        </div>
        <button type="submit" class="btn btn-success">Entrar</button>
      </form>
    </div>
    <div class="col-md-4">
      <h1 class="or"><strong>ou</strong></h1>
    </div>
    <div class="col-md-4">
      <h2>Faça seu cadastro</h2>
      <form class="form-home" ng-submit="signup(name, email, password)">
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nome"
          ng-model="name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"
          ng-model="email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha"
          ng-model="password">
        </div>
        <button type="submit" class="btn btn-success">Cadastrar</button>
      </form>
    </div>
  </div>
</div>
